@{
    ViewBag.Title = "Index";
}
@model IEnumerable<global::Queryable.Web.Models.Person>
<h2>People</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.First().LastName)</th>
            <th>@Html.DisplayNameFor(m => m.First().DateOfBirth)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.DateOfBirth</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Search", "Search", null, new Dictionary<string, object>{{"class", "btn"}})
@Html.ActionLink("Add", "Add", null, new Dictionary<string, object>{{"class", "btn"}})