@{
    ViewBag.Title = "Search";
}
@model global::Queryable.Models.PersonSearchModel
<h2>Search</h2>


@using (Html.BeginForm("SearchResults", "Home", FormMethod.Get))
{
    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
    </div>
    <div>
        @Html.LabelFor(m => m.DateOfBirth)
        @Html.TextBoxFor(m => m.DateOfBirth)
    </div>
    <input type="submit" value="GO" class="btn"/>
}
